html, body {
  background: #202020;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

button {
  padding: 12px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all;
}

button:hover {
  background-color: rgb(27, 27, 27);
}